<header class="bg-white" style="background-color: #8C9E6E">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 flex justify-start items-center space-x-2">
        <img class="h-8 w-auto " src="<%= asset_path("logo.png") %>" alt="">
        <h3 class="text-2xl" style="color: #FFFFFD">Test</h3>
      </a>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5 flex justify-start items-center space-x-2">
          <img class="h-8 w-auto" src="<%= asset_path("logo.png") %>" alt="">
          <h3 class="text-2xl" style="color: #FFFFFD">Test</h3>
        </a>
      </div>
    </div>
  </div>
</header>
